<!DOCTYPE html>
<html lang="en">
<head>
  {% include "layout/head.njk" %}
</head>
<body class="{{ bodyClass or '' }}">

  {% include "layout/nav.njk" %}

  <main id="main-content">
    {% block content %}{% endblock %}
  </main>

  {% include "layout/footer.njk" %}

  <!-- JavaScript -->
  <script type="module" src="/js/main.js"></script>

</body>
</html>
