{% extends "layout/base.njk" %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/pathways.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/quiz.njk" %}
  {% include "partials/trust.njk" %}
{% endblock %}
