{% extends "layout/base.njk" %}

{% block content %}
  {% include "partials/hero.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/destinations.njk" %}
  {% include "partials/guides.njk" %}
  {% include "partials/why.njk" %}
  {% include "partials/contact.njk" %}
{% endblock %}
